:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  overflow: visible;
}